*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("images/bg3.jpg");
    background-size: cover;
}

a:link,a:visited{
    color:black;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}

a:hover,a:active{
    color:maroon;
    /* background-color:whitesmoke; */
    text-decoration: line;
}

.col-left{
    position:relative;
    padding-left:0px ;
    padding-top: 5px;
    padding-right: 280px;
    display:flex;

}
.col-right{
    position:absolute;
    padding-top: 0px;
    padding-left:600px; 
}
.mb-5{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: justify;

}

.tm-row{
    display: flex;
}
.col-left{
    width:50%;
    height:100%;
    padding-top:25px;

}
/* Contact */
.form-control,
textarea {    
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #999A9B;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 10px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control:focus {
    color: white;
    background-color: transparent;    
    box-shadow: none;
    border-color: #9CC;
    outline: none;
}

.mb-85 { margin-bottom: 85px; }
.tm-contact-main { max-width: 690px; }

.tm-contact {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.form-control::-webkit-input-placeholder { color: white; } /* Edge */  
.form-control:-ms-input-placeholder { color: white; } /* Internet Explorer 10-11 */  
.form-control::placeholder { color: white; }

.card{
    /* position:relative; */
    padding-top: 500 px;
    display: flex;
}

.carouselExampleCaptions {
    padding-top: 100px;
     height: 350px;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

